:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100%;
  background-image: url('./images/music.jpg');
  background-position: center;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: gold;
}
/* unvisited link */
a:link {
  color: yellow;
}

/* visited link */
a:visited {
  color: red;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
img {
  width: auto;
  height: 10rem;
}
main {
  display: flex;
  justify-content: center;
  align-content: center;
}
.Home {
  display: flex;
  justify-content: space-around;
}
.Klamar {
  display: flex;
  justify-content: space-around;
}
.CardiB {
  display: flex;
  justify-content: space-around;
}
.Manthony {
  display: flex;
  justify-content: space-around;
}
